//Primary Color
$color-primary:#797979;
$color-secondary:#F58731;

// Cutsom colors
$white:#fff;
$black:#000;
$color-lightBlue:#016A79;
$color-blue:#30279D;
$color-form-border:#BBBBBB;
$color-grey-bg:#F6F6F6;
$color-social:#676767;
$color-head:#393939;
$color-request:#3B3B3A;


// Fonts
$font-semi-bold : 'openSansSemiBold' !default;
$font-semi-bold-italic : 'openSansSemiBoldItalic' !default;
$font-bold-italic : 'openSansBoldItalic' !default;
$font-bold : 'openSansBold' !default;
$font-light : 'openSansLight' !default;
$font-regular : 'openSans' !default;
$font-light-italic : 'openSansLightItalic' !default;
$font-italic : 'openSansItalic' !default;
$font-extra-bold : 'openSansExtraBold' !default;
$font-extra-bold-italic : 'openSansExtraBoldItalic' !default;
$light-grey:#fafafa;